body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.film-container {
  padding: 15px;
  margin-bottom: 10px;
  border: 1px black solid;
  display: flex;
}

